.app-header {
  grid-area: header;
}
.app-main {
  grid-area: main;
}
.app-side {
  grid-area: sidebar;
}
.app-footer {
  grid-area: footer;
}

.grid {
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";
}

@media (min-width: 700px) {
  .grid {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 255px 1fr;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer  footer";
  }
}
/* @media (min-width: 900px) {
  .grid {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
      "header header "
      "sidebar main "
      "footer footer ";
  }
} */
